<div class="container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <img src="img/dicky.jpg" class="img-thumbnail" width="180px" alt="">
            <h1 class="display-4">Dicky Kamaludin B</h1>
            <p class="lead">Student</p>
        </div>
    </div>
</div>