extends layouts/layout.pug

block content
    .container
        .row.justify-content-center
            .col.text-center
                img.img-thumbnail(src='img/dicky.jpg' width='180px' alt='')
                h1.display-4 Dicky Kamaludin B
                p.lead Student